<main>
  <header>
    <nav class="horizontal-bar" aria-label="Main navigation">
      <button mat-icon-button id="menu-button" (click)="toggleOpenSignalInput()">
        <mat-icon>menu</mat-icon>
      </button>
      <app-navigation>
      </app-navigation>
    </nav>

    <!--  <nav class="vertical-bar" aria-label="Sub navigation">-->
    <!--    <app-vertical-navigation [openSignal] = "openSignalInput">-->
    <!--    </app-vertical-navigation>-->
    <!--  </nav>-->
  </header>
  <div class="main-container">
    <router-outlet></router-outlet>
  </div>
  <footer>

  </footer>
</main>
