/* Ensure core-container takes full viewport */
main {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: white;
}

.horizontal-bar {
  position: fixed; /* Fixes the bar to the top */
  top: 0; /* Aligns to the top */
  left: 50%; /* Centers horizontally */
  transform: translateX(-50%); /* Centers element */
  width: 100%; /* Stretches the full width */
  height: 65px; /* Adjust height as needed */
  /*background: #000;*/
  display: flex; /* Flex for aligning inner elements */
  align-items: center; /* Center vertically */
  justify-content: space-around; /* Center content horizontally */
  z-index: 1000;
  background: white;
}

/*.vertical-bar {*/
/*  position: fixed; !* Fixes the bar to the left *!*/
/*  top: 0px; !* Aligns to the top *!*/
/*  left: 0; !* Aligns to the left *!*/
/*  width: 30vh; !* Adjust width as needed *!*/
/*  height: 100vh; !* Spans the full height *!*/
/*  !*background-color: #333; !* Set background color *!*!*/
/*  !*color: white; !* Optional text color *!*!*/
/*  display: flex; !* Flex for aligning inner elements *!*/
/*  flex-direction: column; !* Stack items vertically *!*/
/*  justify-content: center; !* Center items vertically *!*/
/*  align-items: stretch;*/
/*  z-index: 10000; !* Ensure it stays on top *!*/
/*}*/

/* Page Content */
.main-container {
  padding: 20px; /* Add padding for spacing */
  position: relative;
  z-index: 1; /* Ensure content does not overlap nav bars */
  height: 100vh; /* Adjust height to fit within viewport */
  overflow-y: auto; /* Enable scrolling for content */
}

#menu-button{
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 99;
}
