<mat-sidenav-container >
  <mat-sidenav color="primary" mode="side" opened>
    <mat-nav-list>
      <mat-list-item routerLink="/login-register">
        <mat-icon>login</mat-icon>
        <span>Login/Register</span>
      </mat-list-item>
      <mat-list-item routerLink="/search">
        <mat-icon>search</mat-icon>
        <span>Search</span>
      </mat-list-item>
      <mat-list-item routerLink="/notification">
        <mat-icon>notifications</mat-icon>
        <span>Notification</span>
      </mat-list-item>
      <mat-list-item routerLink="/overall-list">
        <mat-icon>group</mat-icon>
        <span>Overall List</span>
      </mat-list-item>
      <mat-list-item routerLink="/catch-up">
        <mat-icon>chat</mat-icon>
        <span>Catch Up</span>
      </mat-list-item>
      <mat-list-item routerLink="/calendar">
        <mat-icon>calendar_today</mat-icon>
        <span>Calendar</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
