mat-sidenav-container {
  height: 100vh; /* Full height of the viewport */

}

mat-sidenav {
  width: 250px; /* Adjust as needed */
  background-color: white; /* Light background for sidenav */
  top: 60px;
}

mat-list-item {
  cursor: pointer;
}

mat-list-item:hover {
  background-color: rgba(0, 0, 0, 0.1); /* Highlight effect */
}

mat-icon {
  margin-right: 16px; /* Space between the icon and text */
}
a{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

mat-nav-list{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
