<section class="content-container">
  <article class="left-content">
    <header id="intro-container">
      <span id="text-title">
        A smarter way to organize and nurture your <span id="theme-text">friend circle</span>.
      </span>
      <p id="text-explain">
        An all-in-once software solution for managing,
        keeping track of your connections, so you can
        focus on your big networking picture - for free.
      </p>
    </header>
    <button mat-flat-button class="sign-up-button">
      Sign Up for MUFC
    </button>

    <section class="store-buttons" >
        <img src="apple-download.png"
             alt="Download on the App Store" class="store-badge" height="50px">
        <img src="google-download.png"
             alt="Get it on Google Play" class="store-badge" height="70px">
    </section>

  </article>

  <aside class="right-content">
    <!-- Content for the right side (e.g., an image, form, or other interactive content) -->
  </aside>
</section>
