<mat-sidenav-container >
  <mat-sidenav mode="side" [(opened)]="openSignal">
    <mat-nav-list>
      <a mat-button routerLink="/login-register">
        <mat-icon>login</mat-icon>
        <span>Login/Register</span>
      </a>
      <a mat-button routerLink="/search">
        <mat-icon>search</mat-icon>
        <span>Search</span>
      </a>
      <a mat-button routerLink="/notification">
        <mat-icon>notifications</mat-icon>
        <span>Notification</span>
      </a>
      <a mat-button routerLink="/overall-list">
        <mat-icon>group</mat-icon>
        <span>Overall List</span>
      </a>
      <a mat-button routerLink="/catch-up">
        <mat-icon>chat</mat-icon>
        <span>Catch Up</span>
      </a>
      <a mat-button routerLink="/calendar">
        <mat-icon>calendar_today</mat-icon>
        <span>Calendar</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
