<div class="card-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title><b>Register</b></mat-card-title>
    </mat-card-header>
    <hr>
    <mat-card-content>
      <form [formGroup]="registerForm">
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput formControlName="username">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput formControlName="name">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input type = "email" matInput formControlName="email">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Date of Birth</mat-label>
          <input type="date" matInput formControlName="dob">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput [type]="hide() ? 'password' : 'text'" formControlName="password" />
          <button
            mat-icon-button
            matSuffix
            (click)="clickEvent($event)"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide()"
          >
            <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <mat-card-footer>
          <a href="/login">Returning User?</a>
        </mat-card-footer>
        <button mat-flat-button>Register</button>

      </form>
    </mat-card-content>

  </mat-card>
</div>
