<mat-toolbar>
  <a
    mat-button
    routerLink="/home"
    [class.highlighted]="activeLink === '/home'"
    (click)="setActive('/overview')">Overview</a>
  <a
    mat-button
    routerLink="/friends"
    [class.highlighted]="activeLink === '/friends'"
    (click)="setActive('/inner')">Friends</a>
  <a
    mat-button
    routerLink="/messaging"
    [class.highlighted]="activeLink === '/friends'"
    (click)="setActive('/inner')">Messaging</a>
  <a
    mat-button
    routerLink="/login"
    [class.highlighted]="activeLink === '/login'"
    (click)="setActive('/extended')">Login</a>
  <a
    mat-button
    routerLink="/register"
    [class.highlighted]="activeLink === '/register'"
    (click)="setActive('/extended')">Register</a>
</mat-toolbar>
